@model My_School_Assignment.AssignClass2

@{
    ViewBag.Title = "AssignClass";
}

<h2>AssignClass</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AssignClass1</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.C_Id, "C_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("C_Id", ViewBag.ClassList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.T_Id, "T_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("T_Id", ViewBag.TeacherList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.T_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


